{
  "singleQuote": false,
  "endOfLine": "auto",
  "trailingComma": "none",
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrder": [
    "^app/*(.*)$",
    "^assets/*(.*)$",
    "^components/*(.*)$",
    "^features/*(.*)$",
    "^hooks/*(.*)$",
    "^lib/*(.*)$",
    "^pages/*(.*)$",
    "^test/*(.*)$",
    "^types/*(.*)$",
    "^utils/*(.*)$",
    "^[./]"
  ],
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
